#round-title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-align: center;
}

#timer {
    margin:auto;
    width: 400px;
    height: 250px;
    background-color: gold;
    color: navy;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 150px;
    text-align: center;
}

#button-panel{
    margin:auto;
    height: 50px;
    width: 50px;
}

#present-task{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.line{
    border-bottom: 2px solid black;
}

.selected, .unselected{
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.selected{
    background-color: skyblue;
}

.unselected{
    background-color: greenyellow;
}